{% extends "index.html" %}

{% block content %}


<section id="about">
    <div class="container">
      <div class="row position-relative">
        <div class="col-lg-8">
          <div class="image-holder">
            <img src="/static/images/single-image3.jpg" alt="single" class="single-image img-fluid">
          </div>
        </div>
        <div class="about-content bg-gray col-lg-4 m-auto top-0 end-0 bottom-0">
          <h3 class="py-3">Who are we</h3>
          <p>Et id sapien id enim, sit tempor cursus elit, fusce. Nunc tristique facilisis consectetur at vivamus ut porta porta. Ut nisl, tortor, aliquam blandit vitae vehicula vivamus leo nullam urna, scelerisque unc lectus phasellus adipiscing arcu. Tristique facilisis nunc consectetur at tempor.</p>
          <a href="about.html" class="btn">About us →</a>
        </div>
      </div>
    </div>
  </section>
    <!-- /.container-fluid -->

{% endblock %}