{% extends "index.html" %}

{% block content %}
<section id="banner" class="padding-xlarge">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5">
          <div class="flex-column flex-md-row d-flex justify-content-start h-100">
            <div class="image-holder">
              <img src="/static/images/banner-img1.png" alt="product-img" class="img-fluid mb-3">
            </div>
            <div class="banner-content-text ms-md-4 d-flex align-items-center">
              <div class="banner-text">
                <h3>Spiritual</h3>
                <p>This book is specially designed.</p>
                <a href="shop.html" class="btn">Shop collection →</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="flex-column flex-md-row d-flex justify-content-start h-100">
            <div class="image-holder">
              <img src="/static/images/banner-img2.png" alt="product-img" class="img-fluid mb-3">
            </div>
            <div class="banner-content-text ms-md-4 d-flex align-items-center">
              <div class="banner-text">
                <h3>Life</h3>
                <p>This book is specially designed.</p>
                <a href="shop.html" class="btn">Shop collection →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5">
          <div class="flex-column flex-md-row d-flex justify-content-start h-100">
            <div class="image-holder">
              <img src="/static/images/banner-img3.png" alt="product-img" class="img-fluid mb-3">
            </div>
            <div class="banner-content-text ms-md-4 d-flex align-items-center">
              <div class="banner-text">
                <h3>Peaceful</h3>
                <p>This book is specially designed.</p>
                <a href="shop.html" class="btn">Shop collection →</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-5">
          <div class="flex-column flex-md-row d-flex justify-content-start h-100">
            <div class="image-holder">
              <img src="/static/images/banner-img4.png" alt="product-img" class="img-fluid mb-3">
            </div>
            <div class="banner-content-text ms-md-4 d-flex align-items-center">
              <div class="banner-text">
                <h3>Nature</h3>
                <p>This book is specially designed.</p>
                <a href="shop.html" class="btn">Shop collection →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}