{% extends "index.html" %}

{% block content %}

  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="container">
          <div class="row">
            <div class="offset-md-1 col-md-5">
              <img src="/static/images/book1.png" alt="product-img" class="img-fluid mb-3">
            </div>
            <div class="col-md-6 d-flex align-items-center">
              <div class="banner-content">
                <h2>Once upon a time</h2>
                <p class="fs-3">This book is specially designed by concept of traditional designs.</p>
                <a href="/static/single-product.html" class="btn">Shop now →</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}