
{% extends "index.html" %}

{% block content %}
<section id="products" class="product-store padding-xlarge pt-0 position-relative">
    <div class="container display-header d-flex flex-wrap justify-content-between pb-4">
      <h3 class="mt-3">Recommended</h3>
      <div class="btn-right d-flex flex-wrap align-items-center">
        <a href="shop.html" class="btn me-5">View all items →</a>
        <div class="swiper-buttons">
          <button class="swiper-prev product-carousel-prev2 me-2">
            <svg width="41" height="41"><use xlink:href="#angle-left"></use></svg>
          </button>
          <button class="swiper-next product-carousel-next2">
            <svg width="41" height="41"><use xlink:href="#angle-right"></use></svg>
          </button>
        </div>
      </div>
    </div>
    <div class="swiper product-swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item6.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Aetherial Alchemy</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item7.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">The Lost Labyrinth</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item8.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Crystal Caverns</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item9.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Scarlet Secrets</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item10.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Starry Horizons</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item2.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Dance of Fireflies</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item4.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Siren's Song</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="product-card">
            <div class="image-holder">
              <img src="/static/images/product-item3.jpg" alt="product-item" class="img-fluid">
            </div>
            <div class="card-detail text-center pt-3 pb-2">
              <h5 class="card-title fs-4 text-uppercase m-0">
                <a href="single-product.html">Misty Mirage</a>
              </h5>
              <span class="item-price text-primary fs-4">$870</span>
              <div class="cart-button mt-1">
                <a href="#" class="btn">Add to cart</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}