{% extends "index.html" %}

{% block content %}

<div class="swiper-wrapper">
    {% for book in books %}
      <div class="swiper-slide">
        <div class="product-card">
          <div class="image-holder">
            <img src="{{ book.image_url }}" alt="{{ book.title }}" class="img-fluid">
          </div>
          <div class="card-detail text-center pt-3 pb-2">
            <h5 class="card-title fs-4 text-uppercase m-0">
              <a href="single-product.html">{{ book.title }}</a>
            </h5>
            <span class="item-price text-primary fs-4">${{ book.price }}</span>
            <div class="cart-button mt-1">
              <a href="#" class="btn">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  

{% endblock %}